MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/skilldna_auth?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key_here
GOOGLE_CLIENT_ID=849754791910-kvubjul5bnqi8un3c38on96bdengsn37.apps.googleusercontent.com
RESEND_API_KEY=re_6939SC91_9WTn1kYiiJbe17jQGq4yARAR
SUPABASE_CLIENT_ID=14e38149-5272-429d-8391-579ac67918fd
SUPABASE_CLIENT_SECRET=y3Mn3RfqC07U5IWMX4tJHcBe2JR-i5zW9R0oCYVZQTI
PORT=8001
HOST=0.0.0.0
SUPER_ADMIN_EMAIL=team.lcoding@gmail.com
SUPER_ADMIN_PASSWORD=Admin@123
